@import "compass";
@import "compass/reset";
@import "compass/css3/user-interface";
@import "//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,cyrillic";
@import "//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css";

@import "landing";

@mixin nowrap {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin default-transition($time: 300ms) {
	@include transition(all $time cubic-bezier(0.290, 0.730, 0.345, 0.995));
}

@mixin line-clamp($lines: 1) {
	display: -webkit-box;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
	text-overflow: -o-ellipsis-lastline;
}

$blue: #2980b9;
$skyblue: #0099CC;
$natural-gas: #5B90F6;
$pumpkin: #d35400;
$light-gray: #F3F3F6;
$light-gray2: #f9f9f9;
$gray: #999;
$emerald: #2ecc71;
$green-sea: #16a085;
$amber: #ffbf00;

$primary: $skyblue;

$li-width: 220;
$li-width-padding: $li-width + 20 + 10;
$li-height: 160;

$image-height: 160;

$global-radius: 2px;

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: "Open Sans";
	overflow-y: scroll;
	color: #333333;

	&.photo-open {
		overflow: hidden;
	}
}

a {
	text-decoration: none;
}

.right {
	float: right !important;
}

.left {
	float: left !important;
}

.text-center {
	text-align: center !important;
}

.hide {
	display: none !important;
}

.default-cursor {
	cursor: default !important;
}

.gold {
	color: $amber;
}

.gold-before {
	&:before {
		color: $amber;
	}
}

.curtains {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10000;
	background: #ffffff url(/images/loader.gif) center center no-repeat;
}

$aside-width: 220px;

.aside-wrapper {
	width: $aside-width;
	background-color: #333333;
	position: fixed;
	height: 100%;
	overflow: hidden;
	display: block;
	left: 0px;
	@include default-transition();

	.logo {
		display: block;
		height: 35px;
		width: $aside-width;
		overflow: hidden;
		background: $blue url(/images/like-o-meter.svg) center center no-repeat;
		background-size: 100px;
		z-index: 10;
		@include opacity(0.978);
	}

	.user {
		background-color: #333333;

		.tab {
			position: relative;

			i {
				position: absolute;
				right: 0;
				top: 0;
				display: block;
				text-align: center;
				width: 40px;
				height: 26px;
				padding-top: 13px;
				cursor: pointer;
				@include opacity(0.7);
				@include default-transition();

				&:hover {
					@include opacity(1);
				}
			}
		}
	}

	.aside-content {
		width: 220px;
		overflow-y: scroll;
		overflow-x: hidden;
		box-sizing: border-box;
		position: absolute;
		top: 168px;
		bottom: 0;
	}

	.double-border {
		border-bottom: double 3px rgba(255, 255, 255, 0.1);
	}

	.tab {
		height: 40px;
		line-height: 40px;
		display: block;
		font-weight: 100;
		font-size: 14px;
		padding: 0 12px;
		color: #ffffff;
		cursor: pointer;
		@include nowrap();
		@include user-select(none);
		@include default-transition(100ms);

		&:hover {
			background-color: #444444;

			input {
				background-color: #444444;
				cursor: pointer;

				&:focus {
					cursor: text;
				}
			}
		}

		&.no-hover:hover {
			background-color: inherit;

			input {
				background-color: inherit;
			}
		}

		i {
			font-size: 14px;
			width: 26px;
		}

		input {
			outline: none;
			border: none;
			font-size: 14px;
			background-color: #333333;
			color: #ffffff;
			@include default-transition(100ms);
		}

		img {
			width: 20px;
			margin-right: 10px;
			margin-top: 10px;
			display: block;
			float: left;
		}

		.thumb-image {
			width: 20px;
			height: 20px;
			margin-right: 10px;
			margin-top: 10px;
			display: block;
			float: left;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}

	.history {
		.tab {
			line-height: normal;
			height: 44px;
			position: relative;

			.close {
				position: absolute;
				font-weight: 100;
				right: 0;
				bottom: 0;
				width: 20px;
				color: rgba(255, 255, 255, 0.4);
			}

			.thumb-image {
				margin-top: 11px;
			}

			.title {
				margin-top: 4px;
				@include nowrap();
			}

			.owner {
				font-size: 10px;
				color: rgba(255, 255, 255, 0.4);
				@include nowrap();
			}
		}
	}

	.sub-tab {
		display: block;
		height: 30px;
		line-height: 30px;
		font-weight: 100;
		font-size: 12px;
		padding: 0 12px 0 24px;
		color: #ffffff;
		cursor: pointer;
		@include nowrap();
		@include user-select(none);
		@include default-transition(100ms);

		&:last-child {
			border-bottom: solid 1px rgba(255, 255, 255, 0.1);
		}

		&:hover {
			background-color: #444444;
		}

		i {
			font-size: 11px;
			width: 25px;
		}
	}
}

.content-wrapper {
	padding: 18px 10px;
	margin-left: $aside-width;
	position: relative;
	@include default-transition();

	.content-loader {
		position: fixed;
		top: 100px;
		left: 50%;
		margin-left: 110px;
		color: #cccccc;
		font-size: 40px;
		@include default-transition();
	}
	.content {
		@include transform-origin(0, 100px, 0);
		@include opacity(1);
		@include default-transition();
	}

	&.loading {
		.content-loader {
			top: 40px;
			@include opacity(1);
		}
		.content {
			@include scaleY(0);
			@include opacity(0);
		}
	}

	header {
		height: 50px;
		//		line-height: 50px;
		font-size: 20px;
		font-weight: 100;
		padding: 0 8px;
		@include nowrap();

		img {
			width: 50px;
			margin-right: 20px;
			float: left;

			&.overflow {
				margin-left: -45px;
				border-left: solid 1px #ffffff;
				z-index: 100;
				position: absolute;
				@include default-transition();
			}

			&.base {
				margin-top: 10px;
				@include default-transition();
			}

			&.base:hover {
				margin-top: 0px;

				& + .overflow {
					margin-left: -20px;
				}
			}
		}

		.header-tab {
			float: right;
			padding: 0 2px;
			font-size: 14px;
			display: block;
			color: #666;
			text-decoration: none;

			&:hover, &.active {
				i {
					background: #666;
					color: white;
				}
			}

			i {
				padding: 5px;
				border-radius: 2px;
				@include default-transition(100ms);
			}
		}

		.controls {
			float: right;
			margin-top: 8px;
		}

		.thumb {
			width: 50px;
			height: 50px;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			float: left;
			margin-right: 20px;
			position: relative;

			i {
				position: absolute;
				bottom: 0;
				left: 0;
				font-size: 9px;
				line-height: normal;
				padding: 0 4px 4px 4px;
				color: #ffffff;
				box-sizing: border-box;
				@include text-shadow(0px 0px 3px rgba(0, 0, 0, .9));
				@include nowrap();

				&:before {
					margin-right: 4px;
				}
			}
		}

		.title {
			font-weight: 500;
			margin-top: 2px;
			line-height: normal;
			@include nowrap();
		}

		.subtitle {
			margin-top: 5px;
			font-size: 12px;
			color: $gray;
			height: 24px;
			@include nowrap();

			a {
				color: $gray;
				text-decoration: none;
				font-weight: 600;

				&:hover {
					color: darken($gray, 10%);
					text-decoration: underline;
					cursor: pointer;
				}
			}

			.dot {
				margin: 0 5px 0 5px;
				color: darken($gray, 10%);
				font-weight: bold;
			}
		}
	}

	input.search {
		max-width: 200px;
		margin: 20px 8px 0px 8px;
		outline: none;
		padding: 4px;
		width: 100%;
		background-color: #f5f5f5;
		border: solid 1px #cccccc;
		box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1);
		font-size: 12px;
		@include default-transition();

		&:focus {
			background-color: #f9f9f9;
			//			max-width: 250px;
		}
	}

	ul {
		margin: 20px 0px 0px 0px;

		&:after {
			*zoom: 1;
			content: " ";
			clear: both;
			display: table;
		}
	}

	li {
		width: 100%;
		border: solid 8px #ffffff;
		float: left;
		height: 140px;
		overflow: hidden;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		position: relative;
		box-sizing: border-box;
		background-color: $light-gray;
		z-index: 10;

		&:hover {
			.title + ul {
				@include opacity(1);
			}
		}

		@media (min-width: 400px) {
			width: 100%;
		}

		@media (min-width: 600px) {
			width: 50%;
		}

		@media (min-width: 700px) {
			width: 33.3333%;
		}

		@media (min-width: 900px) {
			width: 25%;
		}

		@media (min-width: 1100px) {
			width: 20%;
		}

		@media (min-width: 1300px) {
			width: 16.66667%;
		}

		@media (min-width: 1500px) {
			width: 12.5%;
		}

		a {
			display: block;
			height: 100%;
			width: 100%;
			text-decoration: none;
			//			background-color: rgba(0, 0, 0, 0.5);
			@include default-transition();

			&:hover {
				//				background-color: rgba(0, 0, 0, 0);
			}
		}

		@mixin container {
			font-weight: 600;
			font-size: 12px;
			position: absolute;
			width: 100%;
			box-sizing: border-box;
			text-align: left;
			color: #ffffff;
			@include nowrap();
			@include text-shadow(0px 0px 3px rgba(0, 0, 0, .9));
		}

		.title {
			top: 0px;
			padding: 4px 8px;
			@include container();
			@include line-clamp(3);
			line-height: normal;
			white-space: normal;

			span {
				background-color: rgba(0, 0, 0, 0.7);
				box-shadow: 4px 0 0 rgba(0, 0, 0, 0.7), -4px 0 0 rgba(0, 0, 0, 0.7);
			}
		}

		.counter {
			bottom: 0px;
			padding: 4px 8px;
			@include container();
		}

		i {
			font-size: 11px;
			font-family: "Open Sans", Arial, sans-serif;
			font-weight: bold;
			background-color: rgba(0, 0, 0, 0.7);
			box-shadow: 4px 0 0 rgba(0, 0, 0, 0.7), -4px 0 0 rgba(0, 0, 0, 0.7);
			padding: 2px 0;

			&:before {
				margin-right: 5px;
				font-family: FontAwesome;
				font-weight: normal;
			}
		}

		i.fa-heart {
			&:before {
				font-size: 10px;
			}
		}
	}

	.friends li {
		$friend-image-height: 35px;

		border: solid 8px #ffffff;
		float: left;
		height: $friend-image-height + 16px;
		overflow: hidden;
		background-size: cover;
		background-position: center center no-repeat;
		position: relative;
		box-sizing: border-box;
		width: 12.5%;
		background-color: inherit;

		img {
			width: $friend-image-height;
			height: $friend-image-height;
		}

		.title {
			padding: 2px 0 0 8px;
			left: $friend-image-height;
			right: 0;
			color: #666666;
			text-shadow: none;
			width: auto;
			line-height: 14px;
			margin-top: 2px;
			@include line-clamp(2);
		}
	}

	.load-more {
		text-align: center;
		height: 30px;
		line-height: 30px;
		margin-top: -15px;
		@include default-transition();
		@include opacity(0);

		&.loading {
			@include opacity(1);
		}
	}
}

.photo-g {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #333333;
	z-index: 100;
	overflow: hidden;
	background-image: url(/images/loader-dark.gif);
	background-position: center center;
	background-repeat: no-repeat;

	.small-logo {
		background: url(/images/like-o-meter.svg) center center no-repeat;
		background-size: 80px;
		position: absolute;
		width: 100px;
		height: 40px;
		z-index: 200;
	}

	.close {
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		color: #ffffff;
		cursor: pointer;
		z-index: 210;
		@include opacity(0.8);
		@include default-transition;

		&:hover {
			@include opacity(1);
		}
	}

	.counter {
		position: absolute;
		top: 0;
		right: 50px;
		height: 40px;
		z-index: 210;
		color: #ffffff;
		font-size: 11px;
		margin-top: 15px;
		font-weight: 700;
	}

	.likes {
		color: #ffffff;
		position: absolute;
		bottom: 0;
		height: 26px;
		text-align: center;
		left: 0;
		right: 0;
		font-size: 10px;
		z-index: 210;
		font-weight: 800;
		@include text-shadow(0px 0px 2px rgba(0, 0, 0, 0.7));
		@include user-select(none);

		i {
			&:before {
				margin-right: 4px;
			}
		}
	}

	.download, .external {
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		width: 30px;
		text-align: center;
		padding: 12px;
		font-size: 11px;
		color: #ffffff;
		z-index: 210;
		cursor: pointer;
		@include opacity(0.8);
		@include user-select(none);
		@include default-transition();

		&:hover {
			@include opacity(1);
		}
	}

	.external {
		right: 30px;
	}

	$previousWidth: 150px;
	.previous {
		position: absolute;
		width: $previousWidth;
		top: 0;
		left: 0;
		bottom: 0;
		cursor: pointer;
		z-index: 205;
		@include opacity(0.5);
		@include default-transition;

		&:before {
			content: "\f104";
			color: #ffffff;
			font-family: FontAwesome;
			position: absolute;
			left: 10px;
			top: 50%;
			font-size: 34px;
			background: rgba(0, 0, 0, 0.5);
			width: 26px;
			text-align: center;
			padding-right: 2px;
			@include border-radius(2px);
		}

		&:hover {
			@include opacity(1);
		}
	}

	.next {
		position: absolute;
		top: 0;
		left: $previousWidth;
		bottom: 0;
		right: 0;
		cursor: pointer;
		z-index: 205;
		@include opacity(0.5);
		@include default-transition;

		&:before {
			content: "\f105";
			color: #ffffff;
			font-family: FontAwesome;
			position: absolute;
			right: 10px;
			top: 50%;
			font-size: 34px;
			background: rgba(0, 0, 0, 0.5);
			width: 26px;
			text-align: center;
			padding-left: 2px;
			@include border-radius(2px);
		}

		&:hover {
			@include opacity(1);
		}
	}

	.photo-wrapper {
		text-align: center;

		img {
			max-width: 100%;
			max-height: 100%;
			@include opacity(1);
			@include default-transition(700ms);
			@include transition-property(opacity);
			@include transform(translateZ(0));

			&.slow-hide {
				@include opacity(0);
			}
		}
	}
}

.error {
	margin-top: 50px;

	img {
		margin-bottom: 20px;
	}

	.title {
		font-size: 18px;
		margin-bottom: 10px;
		color: #777;
		font-weight: 600;
	}

	.message {
		font-size: 12px;
		color: #999;
	}
}