@import "compass/reset";
@import "compass/css3/";
@import "compass/utilities/general";

$topColor: #426e8a;
$bottomColor: #526a7c;
$middleColor: #4a6c83;
$bgColor: #e6e6e8;
$gold: #ffba00;

body {
  background-color: $bgColor;
  font-family: Tahoma, Arial, sans-serif;
  color: #444444;
}

.clearfix {
  clear: both;
}

.header {
  width: 100%;
  height: 40px;
  background: $middleColor;
  //overflow: hidden;
  position: relative;
  @include background-image(linear-gradient(top, $topColor, $bottomColor));
  @include box-shadow(0px 2px 1px #bdbdbe);

  .logo {
    float: left;
  }

  .prev-page {
    float: left;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 10pt;
    font-weight: 300;
    @include opacity(0.9);

    .prev-arrow {
      width: 13px;
      height: 26px;
      float: left;
      margin-top: 14px;

      &:before {
        font-family: 'FontAwesome';
        font-size: 13px;
        color: #ffffff;
        content: "\f0d9";
      }

      @media (max-width: 480px) {
        width: auto;
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    .prev-page-title {
      float: left;
      color: white;
      line-height: 40px;
      max-width: 200px;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 40px;
      overflow: hidden;

      @media (max-width: 480px) {
        display: none;
      }
    }

    &:hover {
      background-color: darken($middleColor, 4%);
      @include background-image(linear-gradient(top, darken($topColor, 4%), darken($bottomColor, 4%)));
      @include opacity(1);
    }
  }

  .user-data {
    height: 40px;
    text-align: right;
    float: right;
    margin-right: 5px;
    cursor: default;
    @include opacity(0);
    @include single-transition(opacity, 0.1s, ease-out);

    @media (max-width: 685px) {
      display: none;
    }

    .user-name {
      font-size: 9pt;
      color: white;
      margin-top: 7px;
      font-weight: 400;
      line-height: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 200px;
    }
    .user-albums-count {
      font-size: 8pt;
      color: #ccc;
      margin-top: 1px;
      font-weight: 300;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 200px;
    }
  }

  #userpic-and-dropdown {
    .user-pic {
      margin: 5px;
      margin-top: 4px;
      float: right;
      display: block;
      border: solid 1px #999999;
      cursor: pointer;
      position: relative;
      @include border-radius(2px);
      @include opacity(0);
      @include single-transition(opacity, 0.1s, ease-out);
    }
    .dropdown-header {
      right: 5px;
      margin-top: 8px;
      top: 36px;

      .triangle-up {
        right: 8px;
        left: auto;
      }
    }
    &:hover .dropdown-header {
      @include opacity(1);
      @include transform(scale(1, 1));
    }
  }

  .loader {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-image: url(../images/preloader.gif);
    background-position: center center;
    background-repeat: no-repeat;
    @include opacity(1);
    @include single-transition(opacity 0.3s ease-out);
  }

}

.cell {
  height: 85px;
  float: left;
  overflow: hidden;
  position: relative;

  // some magic stuff
  @for $width from 1 through 19 {
    @media (min-width: $width * 100px) {
      width: 100% / $width;
    }
  }

  $cellMargin: 3px;

  .inner-cell {
    top: $cellMargin;
    bottom: $cellMargin;
    left: $cellMargin;
    right: $cellMargin;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    @include box-shadow(0px 1px 2px rgba(0, 0, 0, 0.5));

    &:before {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 40%;
      font-family: 'FontAwesome';
      font-size: 14px;
      color: #999;
      content: "\f03e";
      z-index: -100;
    }
  }
  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 8pt;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Tahoma, sans-serif;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6);
    @include transform(translateZ(0));
    @include opacity(0.8);
    @include single-transition(opacity, 0.1s, ease-out);

    @media handheld {
      display: none;
      font-size: 14pt;
    }

    .likes, .likes-gold {
      float: left;
      width: 50%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:before {
        font-family: 'FontAwesome';
        font-size: 10px;
        content: "\f004";
        margin-right: 3px;
      }
    }
    .likes-gold {
      &:before {
        color: #c76d10;
      }
    }
    .comments {
      width: 50%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:before {
        font-family: 'FontAwesome';
        font-size: 11px;
        content: "\f075";
        margin-right: 3px;
      }
    }
  }
  &:hover .caption {
    @include opacity(1);
  }
  img {
    min-height: 100%;
    min-width: 100%;
  }
}

#myAlbums:after,
#muGroups:after,
#myFriends:after,
#myAlbums:before,
#muGroups:before,
#myFriends:before,
.content:after,
.content:before {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

#content {
  position: relative;
}

.empty-view {
  padding-top: 50px;
  text-align: center;
  height: 300px;
  color: #555555;
  @include text-shadow(0px 1px 0px #eeeeee);

  .text {
    font-size: 14pt;
    margin-bottom: 10px;
  }
  .description {
    font-size: 10pt;
    color: #cccccc;
  }
}

.content {
  padding: 10px;
  padding-top: 5px;

  .title {
    cursor: default;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 18pt;
    margin: 6px;
    height: 34px;
    line-height: 34px;

    .titleText {
      margin-left: 42px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      height: 34px;

      .count {
        color: #777777;
        font-size: 10pt;
        line-height: 16px;
        vertical-align: text-top;
        margin-left: 4px;
      }
    }

    .options {
      font-family: Tahoma, Arial, sans-serif;
      float: right;
      font-size: 11pt;
      color: #666666;
      height: 34px;

      .filter, .sort {
        cursor: pointer;
        width: 34px;
        height: 33px;
        text-align: center;
        float: right;
        position: relative;
        @include border-radius(2px);
        @include border-bottom-radius(0);

        &:hover {
          background-color: rgba(15, 15, 15, 0.8);
          color: #ffffff;
        }
        &:hover > .dropdown-list {
          @include opacity(1);
          @include transform(scale(1, 1));
        }
      }
      .filter:before {
        font-family: 'FontAwesome';
        content: "\f0b0";
      }
      .sort:before {
        font-size: 13px;
        font-family: 'FontAwesome';
        content: "\f161";
      }
      .calendar:before {
        content: "\f073";
      }
      .likes:before {
        content: "\f004";
      }
      .comments:before {
        content: "\f075";
      }
      .photos-count:before {
        content: "\f03e";
      }
      .user-likes:before {
        color: $gold;
        content: "\f004";
      }
    }
  }
  .thumb {
    display: block;
    float: left;
    //border: solid 2px #ffffff;
    overflow: hidden;
    width: 34px;
    height: 34px;
    //@include border-radius(2px);
    @include box-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));

    img {
      max-width: 100%;
      min-height: 100%;
    }
  }

  .album-like, .album-like-gold {
    float: right;
    position: relative;
    width: 34px;
    height: 34px;
    text-align: center;
    color: #999;
    cursor: pointer;
    @include text-shadow(0 1px 1px rgba(0, 0, 0, 0.5));

    &:before {
      font-family: 'FontAwesome';
      content: "\f004";
    }

    &:hover .dropdown-list {
      @include opacity(1);
      @include transform(scale(1, 1));
    }
  }
  .album-like {
    @include single-transition(color, 0.1s, ease-out);

    &:hover {
      color: #666;
    }
  }
  .album-like-gold {
    color: $gold;
  }
}

.dropdown-list {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1200;
  color: #ffffff;
  cursor: default;
  @include transform(scale(1, 0));
  @include transform-origin(50%, 0px);
  @include opacity(0);
  @include single-transition(all, 0.1s, ease-out);

  ul {
    padding: 4px;
    background-color: rgba(15, 15, 15, 0.8);
    min-width: 120px;
    @include box-shadow(0 0 3px rgba(50, 50, 50, 0.5));
    @include border-radius(2px);

    li {
      font-size: 13px;
      padding: 3px;
      text-align: left;
      height: 25px;
      line-height: 25px;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
      @include border-radius(2px);
      @include single-transition(all, 0.1s, ease-out);

      span {
        color: #ffffff;
        margin-right: 6px;
        font-family: 'FontAwesome';
      }

      &:not(.selected):hover {
        background-color: rgba(110, 110, 110, 0.5);
      }

      &:active {
        background-color: rgba(90, 90, 90, 0.5);
      }
    }
    .selected {
      background-color: rgba(200, 200, 200, 0.5);
    }
  }
  a {
    color: #ffffff;
    text-decoration: none;
  }
  .triangle-up {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(15, 15, 15, 0.8);
    top: -8px;
    left: 50%;
    margin-left: -4px;
  }
}

.open {
  @include opacity(1);
  @include transform(scale(1, 1));
}

.photo {
  background-color: #000000;
  color: #333;
  direction: ltr;
  height: 100% !important;
  left: 0px;
  min-height: 100%;
  min-width: 100%;
  outline-color: #333;
  outline-style: none;
  outline-width: 0px;
  position: fixed;
  right: 0px;
  table-layout: fixed;
  text-align: left;
  top: 0px;
  width: 100%;
  z-index: 400;

  &:after {
    content: " ";
    float: left;
    height: 1%; /*the fix*/
    width: 0;
  }

  .photo-header {
    height: 40px;
    z-index: 99;
    position: absolute;
    width: 100%;

    .logo {
      float: left;
    }

    $size: 40px;
    .close, .count {
      float: right;
      height: $size;
      line-height: $size;
      width: $size;
      text-align: center;
      font-weight: bold;
      color: #ffffff;
      cursor: pointer;
      font-size: 18px;
      @include opacity(0.8);
      @include text-shadow(0 1px 1px rgba(0, 0, 0, 0.5));
      @include single-transition(opacity, 0.1s, ease-out);

      &:hover {
        @include opacity(1);
      }
    }
    .count {
      width: auto;
      font-size: 13px;
      margin-top: 1px;
      font-weight: 100;
      cursor: default;
      margin-right: 10px;

      &:hover {
        @include opacity(0.8);
      }
    }
  }

  .image-wrapper {
    position: relative;
    height: 100%;
    //background: url(https://vk.com/images/upload_inv_mono.gif) no-repeat center center;

    img {
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      cursor: pointer;
      @include transform(translateZ(0));
      @include single-transition(opacity, 0.1s, ease-out);
    }
    .loader {
      width: 74px;
      height: 26px;
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 50%;
      margin-top: -13px;
      left: 50%;
      margin-left: -37px;
      z-index: 100;
      @include single-transition(opacity, 0.2s, ease-out);

      img {
        margin-top: 5px;
        margin-left: 5px;
      }
    }
  }

  .description {
    height: 40px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    @include background-image(linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%));

    .photo-likes, .photo-comments, .text {
      float: left;
      width: 60px;
      height: 40px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 10pt;
      line-height: 40px;
      color: white;
      @include text-shadow(0 1px 1px rgba(0, 0, 0, 0.5));

      @media (max-width: 400px) {
        width: auto;
        font-size: 8pt;
        margin-right: 5px;
      }
    }
    .photo-likes:before {
      font-family: 'FontAwesome';
      content: "\f004";
      margin-right: 5px;
    }
    .photo-comments:before {
      font-family: 'FontAwesome';
      content: "\f075";
      margin-right: 5px;
    }
    .gold:before {
      color: $gold;
    }
    .text {
      width: 200px;
      @include opacity(0.5);
      @include single-transition(opacity, 0.1s, ease-out);

      &:hover {
        @include opacity(1);
      }
    }

    .rotate-left, .rotate-right, .make-cover, .download {
      font-family: 'FontAwesome';
      float: right;
      width: 28px;
      height: 40px;
      font-size: 10pt;
      line-height: 40px;
      color: white;
      cursor: pointer;
      @include text-shadow(0 1px 1px rgba(0, 0, 0, 0.5));
      @include opacity(0.5);
      @include single-transition(opacity, 0.1s, ease-out);
      &:hover {
        @include opacity(1);
      }
    }
    .rotate-left:before {
      content: "\f0e2";
    }
    .rotate-right:before {
      content: "\f01e";
    }
    .make-cover:before {
      content: "\f03e";
    }
    .download {
      a {
        color: #ffffff;
        text-decoration: none;
        font-size: 14px;
      }
    }
  }

  .left-arrow-wrapper, .right-arrow-wrapper {
    cursor: pointer;
    position: absolute;
    left: 0;
    width: 100px;
    height: 100%;
    font-size: 22px;
    font-family: 'FontAwesome';
    @include opacity(0.5);
    @include single-transition(opacity, 0.1s, ease-out);

    &:hover {
      @include opacity(1);
    }
  }
  .right-arrow-wrapper {
    left: auto;
    right: 0;
  }

  .left-arrow {
    left: 25px;
    top: 45%;
    position: absolute;
    color: #ffffff;
    @include text-shadow(0 1px 1px rgba(0, 0, 0, 0.5));

    &:before {
      font-family: 'FontAwesome';
      content: "\f053";
    }
  }

  .right-arrow {
    right: 25px;
    position: absolute;
    top: 45%;
    color: #ffffff;
    @include text-shadow(0 1px 1px rgba(0, 0, 0, 0.5));

    &:before {
      font-family: 'FontAwesome';
      content: "\f054";
    }
  }
}

.galleryMode {
  overflow: hidden;
}

.no-right-margin {
  margin-right: 0 !important;
}

.no-left-margin {
  margin-left: 0 !important;
}