@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general";
@import "compass/css3/user-interface";
@import "//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css";
@import "//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,cyrillic";

$topColor: #426e8a;
$bottomColor: #526a7c;
$middleColor: #4a6c83;
$bgColor: #e6e6e8;

$blue: #2980b9;

::-webkit-scrollbar {
	display: none;
}

body {
//	background-color: $bgColor;
//	font-family: Tahoma, Arial, sans-serif;
//	color: #666666;
	width: 100%;
	height: 100%;
}

html {
	width: 100%;
}

.right {
	float: right;
}

.left {
	float: left;
}

//
// Landing page
//

$maxWidth: 500px;

.landing {
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 300;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	z-index: -100;

	::selection {
		background: #b4c3b8;
	}

	.fa-heart {
		margin-right: 4px;
	}

	b {
		font-weight: bold;
	}

	.hello {
		position: relative;
		width: 100%;
		height: 100px;
		min-height: 400px;
		@include user-select(none);

		.logo {
			position: absolute;
			width: 100%;
			top: 50%;
			margin-top: -90px;
			font-size: 75px;
			text-align: center;
			font-weight: 600;
			color: #ffffff;
			@include text-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));

			@media (max-width: $maxWidth) {
				font-size: 40px;
			}

			i {
				font-size: 60px;

				@media (max-width: $maxWidth) {
					font-size: 34px;
				}
			}
			.moto {
				font-size: 16px;
				font-weight: 100;
				margin-top: 12px;

				i {
					font-size: 20px;

					@media (max-width: $maxWidth) {
						font-size: 14px;
					}
				}

				@media (max-width: $maxWidth) {
					font-size: 14px;
				}
			}
		}
		.login-pane {
			position: absolute;
			width: 100%;
			bottom: 100px;
			text-align: center;

			.login-button {
				width: 150px;
				border: solid 1px #ffffff;
				background: rgba(255, 255, 255, 0.25);
				padding: 8px 20px;
				color: #ffffff;
				font-size: 22px;
				cursor: pointer;
				@include border-radius(3px);
				@include text-shadow(0px 1px 1px rgba(0, 0, 0, 0.35));
				@include single-transition(all, 0.1s, ease-out);
				@include user-select(none);

				&:hover {
					background: rgba(255, 255, 255, 0.4);
				}
				&:active {
					@include box-shadow(inset 0px 1px 2px rgba(0, 0, 0, 0.2));
				}
			}
		}

		.news-pane {
			position: absolute;
			width: 100%;
			bottom: 10px;
			text-align: center;
			@include text-shadow(0px 0px 3px rgba(0, 0, 0, 0.6));

			i {
				color: #ffffff;
				display: inline-block;
				text-align: center;
				padding: 6px;
				cursor: pointer;
				@include opacity(0.8);
				@include single-transition(all, 0.1s, ease-out);

				&:hover {
					@include opacity(1);
				}
			}
		}
	}

	.text-block {
		position: relative;
		width: 100%;
		background: #ffffff;
		color: #555;
		font-size: 18px;
		text-align: center;
		padding-top: 40px;
		padding-bottom: 40px;
		@include box-shadow(0 0 5px rgba(0, 0, 0, 0.3));

		@media (max-width: $maxWidth) {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.text-header {
			font-size: 36px;
			margin-bottom: 20px;
			margin-left: 30px;
			margin-right: 30px;

			@media (max-width: $maxWidth) {
				font-size: 26px;
			}

			i {
				font-size: 28px;

				@media (max-width: $maxWidth) {
					font-size: 22px;
				}
			}
		}
		.text-description {
			font-size: 18px;
			line-height: 30px;
			margin-left: 40px;
			margin-right: 40px;
			//@include text-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));

			@media (max-width: $maxWidth) {
				line-height: normal;
			}
		}

		.login-button {
			width: 150px;
			border: solid 1px rgba(#2980b9, 0.4);
			background: rgba(#2980b9, 0.05);
			padding: 6px 10px;
			font-size: 14px;
			color: #2980b9;
			cursor: pointer;
			@include border-radius(3px);
			@include text-shadow(0px 1px 1px rgba(#2980b9, 0.35));
			@include single-transition(all, 0.1s, ease-out);
			@include user-select(none);

			&:hover {
				background: rgba(#2980b9, 0.1s);
			}
			&:active {
				@include box-shadow(inset 0px 1px 2px rgba(0, 0, 0, 0.2));
			}
		}
	}

	.screens {
		text-align: center;
		background-color: #464646;
		padding: 50px 0px 30px 0px;

		.image-src {
			background-color: #ffffff;
			padding: 8px;
			box-sizing: border-box;
			display: inline-block;
			max-width: 600px;
			min-width: 100px;
			width: 100%;
			max-height: 400px;
			min-height: 100px;
			height: 400px;
			background-size: cover;
		}

		.image-description {
			font-size: 12px;
			margin: 8px 0px 30px 0px;
			color: #ffffff;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.technologies {
		height: 500px;

		.column {
			width: 33.33%;
			float: left;
			padding: 20px;
			box-sizing: border-box;

			@media (max-width: $maxWidth) {
				width: 100%;
				float: none;
			}
		}

		.html5, .css3, .vk {

			header {
				color: #ffffff;
				font-size: 60px;
				text-align: center;
				@include text-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
			}
		}
	}

	footer, .footer {
		background: #f4f4f4;
		padding: 30px;
		text-align: center;
		@include clearfix;

		.columns-6 {
			//			width: 50%;
			//			float: left;
			//			text-align: left;
			@include clearfix;
		}

		.right {
			//			width: 260px;
			//			text-align: center;
		}

		.footer-logo {
			width: 150px;
		}

		.moto {
			font-size: 10px;
			font-weight: 600;
			margin-bottom: 20px;
		}

		$color: #666666;
		.share {
			@include clearfix;
			display: inline-block;

			div, a {
				width: 30px;
				height: 30px;
				display: block;
				float: left;
				border: solid 1px $color;
				cursor: pointer;
				color: $color;
				font-size: 14px;
				margin: 6px;
				@include opacity(0.4);
				@include border-radius(50%);
				@include transform(translateZ(0));
				@include single-transition(opacity, 0.1s, ease-out);

				&:hover {
					@include opacity(1);
				}

				&:first-child i {
					margin-top: 8px;
				}

				i {
					margin-top: 9px;
					@include transform(translateZ(0));
				}
			}
		}

		h5 {
			font-weight: 700;
			text-transform: uppercase;
			color: #333333;
			font-size: 15px;
			margin-top: 12px;
			margin-bottom: 10px;
		}

		.margin-left {
			margin-left: 40px;
		}

		.support {
			font-weight: 400;

			div {
				font-size: 12px;
				height: 28px;
				line-height: 26px;
			}

			a {
				color: #333333;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

			i {
				width: 20px;
			}

			i:first-child {
				font-size: 16px;
				margin-right: 10px;
			}

			.fa-heart {
				margin: 0;
				font-size: 9px;
				display: inline;
				float: none;
				color: #999999;
			}

			.fa-paper-plane {
				font-size: 14px !important;
			}
		}

		.copy {
			font-size: 11px;
			margin-top: 18px;
			color: #999;
			font-weight: 600;
			height: 13px;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}