@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general";
@import "compass/css3/user-interface";

$topColor: #426e8a;
$bottomColor: #526a7c;
$middleColor: #4a6c83;
$bgColor: #e6e6e8;

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: $bgColor;
  font-family: Tahoma, Arial, sans-serif;
  color: #444444;
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
}

.clearfix {
  clear: both;
}

.header {
  width: 100%;
  height: 40px;
  background: $middleColor;
  overflow: hidden;
  @include background-image(linear-gradient(top, $topColor, $bottomColor));
  @include box-shadow(0px 2px 1px #bdbdbe);

  .logo {
    float: left;
  }

  .prev-page {
    float: left;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 10pt;
    font-weight: 300;
    //display: none;
    @include opacity(0.9);

    img {
      float: left;
    }
    .prev-page-title {
      float: left;
      color: white;
      line-height: 40px;
      max-width: 200px;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 40px;
      overflow: hidden;
    }
    &:hover {
      background-color: darken($middleColor, 4%);
      @include background-image(linear-gradient(top, darken($topColor, 4%), darken($bottomColor, 4%)));
      @include opacity(1);
    }
  }

  .user-data {
    @include opacity(0);
    @include single-transition(opacity, 0.1s, ease-out);
    height: 40px;
    text-align: right;
    float: right;
    margin-right: 5px;
    cursor: default;

    .user-name {
      font-size: 9pt;
      color: white;
      margin-top: 7px;
      font-weight: 400;
    }
    .user-albums-count {
      font-size: 8pt;
      color: #ccc;
      margin-top: 3px;
      font-weight: 300;
    }
  }

  .user-pic {
    @include opacity(0);
    @include single-transition(opacity, 0.1s, ease-out);
    margin: 5px;
    margin-top: 4px;
    float: right;
    display: block;
    border: solid 1px #999999;
    @include border-radius(2px);
    cursor: pointer;
    position: relative;
  }
}

.cell {
  height: 85px;
  float: left;
  overflow: hidden;
  position: relative;

  // some magic stuff
  @for $width from 1 through 19 {
    @media (min-width: $width * 100px) {
      width: 100% / $width;
    }
  }

  $cellMargin: 3px;

  .inner-cell {
    top: $cellMargin;
    bottom: $cellMargin;
    left: $cellMargin;
    right: $cellMargin;
    position: absolute;
    border: solid 2px #ffffff;
    overflow: hidden;
    cursor: pointer;
    @include border-radius(2px);
    @include box-shadow(0px 1px 2px #bdbdbe);
  }
  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 8pt;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Tahoma, sans-serif;
    color: #333333;
    background-color: #ffffff;
    @include opacity(0.6);
    @include single-transition(opacity 0.1s ease-out);

    @media handheld {
      display: none;
      font-size: 14pt;
    }

    .likes, .likes-gold {
      float: left;
      width: 50%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:before {
        content: url(../images/like.png);
        margin-right: 2px;
      }
    }
    .likes-gold {
      &:before {
        content: url(../images/like-gold.png);
        margin-right: 2px;
      }
    }
    .comments {
      width: 50%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:before {
        content: url(../images/comments.png);
        margin-right: 2px;
      }
    }
  }
  &:hover .caption {
    @include opacity(1);
  }
  img {
    min-height: 100%;
    min-width: 100%;
  }
}

#myAlbums:after,
#muGroups:after,
#myFriends:after,
#myAlbums:before,
#muGroups:before,
#myFriends:before,
.content:after,
.content:before {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.content {
  padding: 10px;
  padding-top: 5px;

  .title {
    cursor: default;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 18pt;
    margin: 6px;
    line-height: 34px;

    .title-text {
      margin-left: 44px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      height: 34px;
      float: left;

      .count {
        color: #777777;
        font-size: 10pt;
        line-height: 16px;
        vertical-align: text-top;
        margin-left: 4px;
      }
    }

    .options {
      float: right;
      font-size: 11pt;
      color: #666666;
      height: 34px;

      .filter, .statistics {
        cursor: pointer;
        width: 34px;
        height: 33px;
        text-align: center;
        float: right;
        position: relative;
        @include border-radius(2px);
        @include border-bottom-radius(0);

        &:hover {
          background-color: rgba(15, 15, 15, 0.7);
          color: #ffffff;
          //@include box-shadow(0 0 3px #666666);
        }
        &:hover > .dropdown-list {
          @include opacity(1);
          @include transform(scale(1, 1));
        }
      }
      .filter {
        &:before {
          font-family: 'FontAwesome';
          content: "\f0b0";
        }
      }
      .statistics {
        &:before {
          font-family: 'FontAwesome';
          content: "\f080";
        }
      }
      .calendar:before {
        content: "\f073";
      }
      .likes:before {
        content: "\f004";
      }
      .comments:before {
        content: "\f075";
      }
      .photos-count:before {
        content: "\f03e";
      }
      .golden:before {
        color: #ffba00;
      }
    }
  }
  .thumb {
    display: block;
    float: left;
    border: solid 2px #ffffff;
    overflow: hidden;
    width: 30px;
    height: 30px;
    @include border-radius(2px);
    @include box-shadow(0px 1px 2px #bdbdbe);

    img {
      max-width: 100%;
      min-height: 100%;
    }
  }
}

.dropdown-list {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 120;
  background-color: rgba(15, 15, 15, 0.7);
  color: #ffffff;
  min-width: 120px;
  @include box-shadow(0 0 3px rgba(50, 50, 50, 0.5));
  @include border-radius(2px);
  @include border-top-right-radius(0);
  @include transform(scale(1, 0));
  @include transform-origin(80px, 0px);
  @include opacity(0);
  @include single-transition(all, 0.1s, ease-out);

  ul {
    padding: 4px;

    li {
      font-size: 13px;
      padding: 3px;
      text-align: left;
      height: 25px;
      line-height: 25px;
      white-space: nowrap;
      text-overflow: ellipsis;
      @include border-radius(2px);
      @include single-transition(all, 0.1s, ease-out);

      span {
        color: #ffffff;
        margin-right: 6px;
        font-family: 'FontAwesome';
      }

      &:hover {
        background-color: rgba(110, 110, 110, 0.5);
      }
    }
  }
}

.photo {
  background-color: #000000;
  color: #333;
  direction: ltr;
  height: 100% !important;
  left: 0px;
  min-height: 100%;
  min-width: 100%;
  outline-color: #333;
  outline-style: none;
  outline-width: 0px;
  position: fixed;
  right: 0px;
  table-layout: fixed;
  text-align: left;
  top: 0px;
  width: 100%;
  z-index: 400;

  &:after {
    content: " ";
    float: left;
    height: 1%; /*the fix*/
    width: 0;
  }

  .photo-header {
    height: 40px;
    z-index: 99;
    position: absolute;
    width: 100%;

    .logo {
      float: left;
    }

    $size: 40px;
    .close {
      float: right;
      height: $size;
      line-height: $size;
      width: $size;
      text-align: center;
      font-weight: bold;
      color: #ffffff;
      cursor: pointer;
      font-size: 18px;
      @include opacity(0.8);
      @include single-transition(opacity 0.1s ease-out);

      &:hover {
        @include opacity(1);
      }
    }
  }

  .image-wrapper {
    position: relative;
    height: 100%;
  }

  img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
  }

  .description {
    height: 40px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    @include background-image(linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%));

    .photo-likes, .photo-comments {
      float: left;
      width: 60px;
      height: 40px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 10pt;
      line-height: 40px;
      color: white;
      @include text-shadow(0 1px 1px rgba(0, 0, 0, 0.5));
    }
    .photo-likes:before {
      font-family: 'FontAwesome';
      content: "\f004";
      margin-right: 5px;
    }
    .photo-comments:before {
      font-family: 'FontAwesome';
      content: "\f075";
      margin-right: 5px;
    }

    .rotate-left, .rotate-right, .make-cover {
      font-family: 'FontAwesome';
      float: right;
      width: 28px;
      height: 40px;
      font-size: 10pt;
      line-height: 40px;
      color: white;
      cursor: pointer;
      @include text-shadow(0 1px 1px rgba(0, 0, 0, 0.5));
      @include opacity(0.5);
      @include single-transition(opacity 0.1s ease-out);
      &:hover {
        @include opacity(1);
      }
    }
    .rotate-left:before {
      content: "\f0e2";
    }
    .rotate-right:before {
      content: "\f01e";
    }
    .make-cover:before {
      content: "\f03e";
    }
  }

  .left-arrow-wrapper, .right-arrow-wrapper {
    cursor: pointer;
    position: absolute;
    left: 0;
    width: 100px;
    height: 100%;
    font-size: 22px;
    font-family: 'FontAwesome';
    @include opacity(0.5);
    @include single-transition(opacity 0.1s ease-out);

    &:hover {
      @include opacity(1);
    }
  }
  .right-arrow-wrapper {
    left: auto;
    right: 0;
  }

  .left-arrow {
    left: 25px;
    top: 45%;
    position: absolute;
    color: #ffffff;
    @include text-shadow(0 1px 1px rgba(0, 0, 0, 0.5));

    &:before {
      font-family: 'FontAwesome';
      content: "\f053";
    }
  }

  .right-arrow {
    right: 25px;
    position: absolute;
    top: 45%;
    color: #ffffff;
    @include text-shadow(0 1px 1px rgba(0, 0, 0, 0.5));

    &:before {
      font-family: 'FontAwesome';
      content: "\f054";
    }
  }

  .rotate90deg {
    @include transform(rotate(90deg));
  }
  .rotate180deg {
    @include transform(rotate(180deg));
  }
  .rotate270deg {
    @include transform(rotate(270deg));
  }
  .rotate360deg {
    @include transform(rotate(360deg));
  }
}

//
// Landing page
//

$maxWidth: 500px;

.landing {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;

  //background-image: url(/images/landing/image1.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -100;

  ::selection {
    background: #b4c3b8;
  }

  .hello {
    position: relative;
    width: 100%;
    height: 100px;
    min-height: 400px;
    @include user-select(none);

    .logo {
      position: absolute;
      width: 100%;
      top: 50%;
      margin-top: -90px;
      font-size: 75px;
      text-align: center;
      color: #ffffff;
      @include text-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));

      @media (max-width: $maxWidth) {
        font-size: 40px;
      }

      i {
        font-size: 60px;

        @media (max-width: $maxWidth) {
          font-size: 34px;
        }
      }
      .moto {
        font-size: 22px;
        margin-top: 12px;

        i {
          font-size: 20px;

          @media (max-width: $maxWidth) {
            font-size: 14px;
          }
        }

        @media (max-width: $maxWidth) {
          font-size: 14px;
        }
      }
    }
    .login-pane {
      position: absolute;
      width: 100%;
      bottom: 100px;
      text-align: center;

      .login-button {
        width: 150px;
        border: solid 1px #ffffff;
        background: rgba(255, 255, 255, 0.25);
        padding: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        color: #ffffff;
        font-size: 22px;
        cursor: pointer;
        @include border-radius(3px);
        @include text-shadow(0px 1px 1px rgba(0, 0, 0, 0.35));
        @include single-transition(all, 0.1s, ease-out);
        @include user-select(none);

        &:hover {
          background: rgba(255, 255, 255, 0.4);
        }
        &:active {
          @include box-shadow(inset 0px 1px 2px rgba(0, 0, 0, 0.2));
        }
      }
    }
  }

  .text-block {
    position: relative;
    width: 100%;
    background: #ffffff;
    color: #333333;
    font-size: 18px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    @include box-shadow(0 0 5px rgba(0, 0, 0, 0.3));

    @media (max-width: $maxWidth) {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .text-header {
      font-size: 36px;
      margin-bottom: 20px;
      margin-left: 30px;
      margin-right: 30px;

      @media (max-width: $maxWidth) {
        font-size: 26px;
      }

      i {
        font-size: 28px;

        @media (max-width: $maxWidth) {
          font-size: 22px;
        }
      }
    }
    .text-description {
      font-size: 18px;
      line-height: 30px;
      margin-left: 40px;
      margin-right: 40px;
      //@include text-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));

      @media (max-width: $maxWidth) {
        line-height: normal;
      }
    }
  }

  .technologies {
    height: 500px;

    .column {
      width: 33.33%;
      float: left;
      padding: 20px;
      box-sizing: border-box;

      @media (max-width: $maxWidth) {
        width: 100%;
        float: none;
      }
    }

    .html5, .css3, .vk {

      header {
        color: #ffffff;
        font-size: 60px;
        text-align: center;
        @include text-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
      }
    }
  }

  footer, .footer {
    background: #f4f4f4;
    padding: 30px;
    //border-top: solid 1px #dddddd;
    text-align: center;

    $color: #666666;
    .share {
      div, a {
        width: 40px;
        height: 40px;
        display: inline-block;
        border: solid 1px $color;
        cursor: pointer;
        color: $color;
        font-size: 24px;
        margin: 10px;
        @include opacity(0.4);
        @include border-radius(50%);
        @include transform(translateZ(0));
        @include single-transition(opacity, 0.1s, ease-out);

        &:hover {
          @include opacity(1);
        }

        &:first-child i {
          margin-top: 8px;
        }

        i {
          margin-top: 9px;
          @include transform(translateZ(0));
        }
      }
    }

    .copyright {
      font-size: 13px;
      color: lighten($color, 30%);
      margin-top: 20px;

      i {
        font-size: 10px;
      }
    }
  }
}