@import "compass";
@import "compass/reset";
@import "compass/css3/user-interface";
//@import "/vendor/pushy/css/pushy.css";
@import "//fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic";
@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";

$blue: #2980b9;
$skyblue: #0099CC;
$natural-gas: #5B90F6;
$pumpkin: #d35400;
$light-gray: #F3F3F6;
$light-gray2: #f9f9f9;
$emerald: #2ecc71;
$green-sea: #16a085;

$primary: $skyblue;

$li-width: 220;
$li-width-padding: $li-width + 20 + 10;
$li-height: 160;

$image-height: 160;

$global-radius: 2px;

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: "Open Sans";
	overflow-y: scroll;
	background-color: $light-gray;
}

.right {
	float: right;
}

.left {
	float: left;
}

.content {
	padding-top: 35px;
	text-align: center;

	li {
		border: solid 5px #ffffff;
		float: left;
		margin: 10px;
		background-color: #ffffff;
		width: #{$li-width}px;
		height: #{$image-height}px;
		overflow: hidden;
		background-size: cover;
		position: relative;
		@include box-shadow(rgba(0, 0, 0, 0.117647) 0px 1px 1px 0px);

		a {
			display: block;
			height: 100%;
		}

		.info {
			position: absolute;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.3);
			overflow: hidden;
			padding: 10px;
			margin-bottom: -3px;
			box-sizing: border-box;
			text-align: left;
			color: #ffffff;
			bottom: 0;
			@include transition(all 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955));

			.title {
				font-weight: bold;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				font-size: 12px;

				i {
					line-height: 12px;
					font-size: 10px;

					&:before {
						margin-right: 5px;
					}
				}

				span {
					width: 148px;
					display: inline-block;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					float: left;
				}
			}
		}
	}

	.responsive-wrapper {
		display: inline-block;

		@for $width from 3 through 19 {
			@media (min-width: #{$width * 100}px) {
				width: #{floor(($width * 100) / $li-width-padding) * $li-width-padding}px;
			}
		}

		&:after {
			*zoom: 1;
			content: " ";
			clear: both;
			display: table;
		}
	}
}

header.app-header {
	height: 35px;
	background-color: $blue;
	color: #ffffff;
	position: fixed;
	width: 100%;
	text-align: center;
	z-index: 1000;
	@include box-shadow(0 0 1px 1px rgba(0, 0, 0, 0.1));

	.back-button {
		height: 35px;
		width: 15px;
		float: left;
		text-align: center;
		line-height: 35px;
		cursor: pointer;
		padding: 0 8px;
		font-size: 12px;
		position: absolute;
		@include user-select(none);

		&:hover {
			background-color: darken($blue, 5%);
		}

		i {
			&:before {
				margin-right: 6px;
			}
		}
	}

	.logo {
		img {
			margin-top: 9px;
			height: 15px;
		}
	}

	.user {
		position: absolute;
		right: 0;
		top: 0;
		height: 35px;

		img {
			width: 27px;
			margin: 3px;
			border: solid 1px rgba(255,255,255,0.5);
			@include  border-radius($global-radius);
		}
	}
}

header.content-header {
	text-align: left;
	margin: 36px 10px;
	font-weight: 100;
	*zoom: 1;

	&:after {
		content: " ";
		clear: both;
		display: table;
	}

	.photo {
		width: 50px;
		height: 50px;
		float: left;
		background-size: cover;
		background-position: center center;
		margin-right: 20px;
		border: solid 3px white;
		box-sizing: border-box;
		@include box-shadow(0 1px 4px rgba(0, 0, 0, 0.1));
	}

	.heading {
		font-size: 22px;
		line-height: 50px;
		height: 50px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.statistics {
		float: right;
		width: 45px;
		height: 45px;
		cursor: pointer;
		line-height: 45px;
		text-align: right;
	}

	.controls {
		float: right;
		margin-top: -3px;

		.btn {
			width: 100px;
			padding: 4px 6px;
			color: $blue;
			text-align: center;
			font-size: 12px;
			margin-right: 10px;
//			border: solid 2px $blue;
			cursor: pointer;
			@include transition(all 100ms cubic-bezier(0.455, 0.030, 0.515, 0.955));
			@include border-radius($global-radius);

			&:hover, &.active {
				color: #ffffff;
				background-color: $blue;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}