@import "//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css";
@import "//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,cyrillic";
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 16, ../scss/landing.scss */
::-webkit-scrollbar {
  display: none; }

/* line 20, ../scss/landing.scss */
body {
  width: 100%;
  height: 100%; }

/* line 28, ../scss/landing.scss */
html {
  width: 100%; }

/* line 32, ../scss/landing.scss */
.right {
  float: right; }

/* line 36, ../scss/landing.scss */
.left {
  float: left; }

/* line 46, ../scss/landing.scss */
.landing {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -100; }
/* line 56, ../scss/landing.scss */
.landing ::selection {
  background: #b4c3b8; }
/* line 60, ../scss/landing.scss */
.landing .fa-heart {
  margin-right: 4px; }
/* line 64, ../scss/landing.scss */
.landing b {
  font-weight: bold; }
/* line 68, ../scss/landing.scss */
.landing .hello {
  position: relative;
  width: 100%;
  height: 100px;
  min-height: 400px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }
/* line 75, ../scss/landing.scss */
.landing .hello .logo {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -90px;
  font-size: 75px;
  text-align: center;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); }
@media (max-width: 500px) {
  /* line 75, ../scss/landing.scss */
  .landing .hello .logo {
    font-size: 40px; } }
/* line 90, ../scss/landing.scss */
.landing .hello .logo i {
  font-size: 60px; }
@media (max-width: 500px) {
  /* line 90, ../scss/landing.scss */
  .landing .hello .logo i {
    font-size: 34px; } }
/* line 97, ../scss/landing.scss */
.landing .hello .logo .moto {
  font-size: 16px;
  font-weight: 100;
  margin-top: 12px; }
/* line 102, ../scss/landing.scss */
.landing .hello .logo .moto i {
  font-size: 20px; }
@media (max-width: 500px) {
  /* line 102, ../scss/landing.scss */
  .landing .hello .logo .moto i {
    font-size: 14px; } }
@media (max-width: 500px) {
  /* line 97, ../scss/landing.scss */
  .landing .hello .logo .moto {
    font-size: 14px; } }
/* line 115, ../scss/landing.scss */
.landing .hello .login-pane {
  position: absolute;
  width: 100%;
  bottom: 100px;
  text-align: center; }
/* line 121, ../scss/landing.scss */
.landing .hello .login-pane .login-button {
  width: 150px;
  border: solid 1px #ffffff;
  background: rgba(255, 255, 255, 0.25);
  padding: 8px 20px;
  color: #ffffff;
  font-size: 22px;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }
/* line 134, ../scss/landing.scss */
.landing .hello .login-pane .login-button:hover {
  background: rgba(255, 255, 255, 0.4); }
/* line 137, ../scss/landing.scss */
.landing .hello .login-pane .login-button:active {
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2); }
/* line 143, ../scss/landing.scss */
.landing .hello .news-pane {
  position: absolute;
  width: 100%;
  bottom: 10px;
  text-align: center;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6); }
/* line 150, ../scss/landing.scss */
.landing .hello .news-pane i {
  color: #ffffff;
  display: inline-block;
  text-align: center;
  padding: 6px;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }
/* line 159, ../scss/landing.scss */
.landing .hello .news-pane i:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }
/* line 166, ../scss/landing.scss */
.landing .text-block {
  position: relative;
  width: 100%;
  background: #ffffff;
  color: #555;
  font-size: 18px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
@media (max-width: 500px) {
  /* line 166, ../scss/landing.scss */
  .landing .text-block {
    padding-top: 20px;
    padding-bottom: 20px; } }
/* line 182, ../scss/landing.scss */
.landing .text-block .text-header {
  font-size: 36px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px; }
@media (max-width: 500px) {
  /* line 182, ../scss/landing.scss */
  .landing .text-block .text-header {
    font-size: 26px; } }
/* line 192, ../scss/landing.scss */
.landing .text-block .text-header i {
  font-size: 28px; }
@media (max-width: 500px) {
  /* line 192, ../scss/landing.scss */
  .landing .text-block .text-header i {
    font-size: 22px; } }
/* line 200, ../scss/landing.scss */
.landing .text-block .text-description {
  font-size: 18px;
  line-height: 30px;
  margin-left: 40px;
  margin-right: 40px; }
@media (max-width: 500px) {
  /* line 200, ../scss/landing.scss */
  .landing .text-block .text-description {
    line-height: normal; } }
/* line 212, ../scss/landing.scss */
.landing .text-block .login-button {
  width: 150px;
  border: solid 1px rgba(41, 128, 185, 0.4);
  background: rgba(41, 128, 185, 0.05);
  padding: 6px 10px;
  font-size: 14px;
  color: #2980b9;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0px 1px 1px rgba(41, 128, 185, 0.35);
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }
/* line 225, ../scss/landing.scss */
.landing .text-block .login-button:hover {
  background: rgba(41, 128, 185, 0.1); }
/* line 228, ../scss/landing.scss */
.landing .text-block .login-button:active {
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2); }
/* line 234, ../scss/landing.scss */
.landing .screens {
  text-align: center;
  background-color: #464646;
  padding: 50px 0px 30px 0px; }
/* line 239, ../scss/landing.scss */
.landing .screens .image-src {
  background-color: #ffffff;
  padding: 8px;
  box-sizing: border-box;
  display: inline-block;
  max-width: 600px;
  min-width: 100px;
  width: 100%;
  max-height: 400px;
  min-height: 100px;
  height: 400px;
  background-size: cover; }
/* line 253, ../scss/landing.scss */
.landing .screens .image-description {
  font-size: 12px;
  margin: 8px 0px 30px 0px;
  color: #ffffff; }
/* line 258, ../scss/landing.scss */
.landing .screens .image-description:last-child {
  margin-bottom: 0; }
/* line 264, ../scss/landing.scss */
.landing .technologies {
  height: 500px; }
/* line 267, ../scss/landing.scss */
.landing .technologies .column {
  width: 33.33%;
  float: left;
  padding: 20px;
  box-sizing: border-box; }
@media (max-width: 500px) {
  /* line 267, ../scss/landing.scss */
  .landing .technologies .column {
    width: 100%;
    float: none; } }
/* line 281, ../scss/landing.scss */
.landing .technologies .html5 header, .landing .technologies .css3 header, .landing .technologies .vk header {
  color: #ffffff;
  font-size: 60px;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); }
/* line 290, ../scss/landing.scss */
.landing footer, .landing .footer {
  background: #f4f4f4;
  padding: 30px;
  text-align: center;
  overflow: hidden;
  *zoom: 1; }
/* line 296, ../scss/landing.scss */
.landing footer .columns-6, .landing .footer .columns-6 {
  overflow: hidden;
  *zoom: 1; }
/* line 308, ../scss/landing.scss */
.landing footer .footer-logo, .landing .footer .footer-logo {
  width: 150px; }
/* line 312, ../scss/landing.scss */
.landing footer .moto, .landing .footer .moto {
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 20px; }
/* line 319, ../scss/landing.scss */
.landing footer .share, .landing .footer .share {
  overflow: hidden;
  *zoom: 1;
  display: inline-block; }
/* line 323, ../scss/landing.scss */
.landing footer .share div, .landing footer .share a, .landing .footer .share div, .landing .footer .share a {
  width: 30px;
  height: 30px;
  display: block;
  float: left;
  border: solid 1px #666666;
  cursor: pointer;
  color: #666666;
  font-size: 14px;
  margin: 6px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: opacity 0.1s ease-out;
  -moz-transition: opacity 0.1s ease-out;
  -o-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out; }
/* line 338, ../scss/landing.scss */
.landing footer .share div:hover, .landing footer .share a:hover, .landing .footer .share div:hover, .landing .footer .share a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }
/* line 342, ../scss/landing.scss */
.landing footer .share div:first-child i, .landing footer .share a:first-child i, .landing .footer .share div:first-child i, .landing .footer .share a:first-child i {
  margin-top: 8px; }
/* line 346, ../scss/landing.scss */
.landing footer .share div i, .landing footer .share a i, .landing .footer .share div i, .landing .footer .share a i {
  margin-top: 9px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }
/* line 353, ../scss/landing.scss */
.landing footer h5, .landing .footer h5 {
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  font-size: 15px;
  margin-top: 12px;
  margin-bottom: 10px; }
/* line 362, ../scss/landing.scss */
.landing footer .margin-left, .landing .footer .margin-left {
  margin-left: 40px; }
/* line 366, ../scss/landing.scss */
.landing footer .support, .landing .footer .support {
  font-weight: 400; }
/* line 369, ../scss/landing.scss */
.landing footer .support div, .landing .footer .support div {
  font-size: 12px;
  height: 28px;
  line-height: 26px; }
/* line 375, ../scss/landing.scss */
.landing footer .support a, .landing .footer .support a {
  color: #333333;
  text-decoration: none; }
/* line 379, ../scss/landing.scss */
.landing footer .support a:hover, .landing .footer .support a:hover {
  text-decoration: underline; }
/* line 384, ../scss/landing.scss */
.landing footer .support i, .landing .footer .support i {
  width: 20px; }
/* line 388, ../scss/landing.scss */
.landing footer .support i:first-child, .landing .footer .support i:first-child {
  font-size: 16px;
  margin-right: 10px; }
/* line 393, ../scss/landing.scss */
.landing footer .support .fa-heart, .landing .footer .support .fa-heart {
  margin: 0;
  font-size: 9px;
  display: inline;
  float: none;
  color: #999999; }
/* line 401, ../scss/landing.scss */
.landing footer .support .fa-paper-plane, .landing .footer .support .fa-paper-plane {
  font-size: 14px !important; }
/* line 406, ../scss/landing.scss */
.landing footer .copy, .landing .footer .copy {
  font-size: 11px;
  margin-top: 18px;
  color: #999;
  font-weight: 600;
  height: 13px; }
/* line 413, ../scss/landing.scss */
.landing footer .copy a, .landing .footer .copy a {
  color: #999;
  text-decoration: none; }
/* line 417, ../scss/landing.scss */
.landing footer .copy a:hover, .landing .footer .copy a:hover {
  text-decoration: underline; }
