@import "//fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic";
@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 27, ../scss/user-main-page.scss */
html {
  height: 100%; }

/* line 31, ../scss/user-main-page.scss */
body {
  height: 100%;
  font-family: "Open Sans";
  overflow-y: scroll;
  background-color: #f3f3f6; }

/* line 38, ../scss/user-main-page.scss */
.right {
  float: right; }

/* line 42, ../scss/user-main-page.scss */
.left {
  float: left; }

/* line 46, ../scss/user-main-page.scss */
.content {
  padding-top: 35px;
  text-align: center; }
/* line 50, ../scss/user-main-page.scss */
.content li {
  border: solid 5px #ffffff;
  float: left;
  margin: 10px;
  background-color: #ffffff;
  width: 220px;
  height: 160px;
  overflow: hidden;
  background-size: cover;
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 1px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 1px 0px;
  box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 1px 0px; }
/* line 62, ../scss/user-main-page.scss */
.content li a {
  display: block;
  height: 100%; }
/* line 67, ../scss/user-main-page.scss */
.content li .info {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding: 10px;
  margin-bottom: -3px;
  box-sizing: border-box;
  text-align: left;
  color: #ffffff;
  bottom: 0;
  -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
/* line 80, ../scss/user-main-page.scss */
.content li .info .title {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px; }
/* line 87, ../scss/user-main-page.scss */
.content li .info .title i {
  line-height: 12px;
  font-size: 10px; }
/* line 91, ../scss/user-main-page.scss */
.content li .info .title i:before {
  margin-right: 5px; }
/* line 96, ../scss/user-main-page.scss */
.content li .info .title span {
  width: 148px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left; }
/* line 108, ../scss/user-main-page.scss */
.content .responsive-wrapper {
  display: inline-block; }
@media (min-width: 300px) {
  /* line 108, ../scss/user-main-page.scss */
  .content .responsive-wrapper {
    width: 250px; } }
@media (min-width: 400px) {
  /* line 108, ../scss/user-main-page.scss */
  .content .responsive-wrapper {
    width: 250px; } }
@media (min-width: 500px) {
  /* line 108, ../scss/user-main-page.scss */
  .content .responsive-wrapper {
    width: 500px; } }
@media (min-width: 600px) {
  /* line 108, ../scss/user-main-page.scss */
  .content .responsive-wrapper {
    width: 500px; } }
@media (min-width: 700px) {
  /* line 108, ../scss/user-main-page.scss */
  .content .responsive-wrapper {
    width: 500px; } }
@media (min-width: 800px) {
  /* line 108, ../scss/user-main-page.scss */
  .content .responsive-wrapper {
    width: 750px; } }
@media (min-width: 900px) {
  /* line 108, ../scss/user-main-page.scss */
  .content .responsive-wrapper {
    width: 750px; } }
@media (min-width: 1000px) {
  /* line 108, ../scss/user-main-page.scss */
  .content .responsive-wrapper {
    width: 1000px; } }
@media (min-width: 1100px) {
  /* line 108, ../scss/user-main-page.scss */
  .content .responsive-wrapper {
    width: 1000px; } }
@media (min-width: 1200px) {
  /* line 108, ../scss/user-main-page.scss */
  .content .responsive-wrapper {
    width: 1000px; } }
@media (min-width: 1300px) {
  /* line 108, ../scss/user-main-page.scss */
  .content .responsive-wrapper {
    width: 1250px; } }
@media (min-width: 1400px) {
  /* line 108, ../scss/user-main-page.scss */
  .content .responsive-wrapper {
    width: 1250px; } }
@media (min-width: 1500px) {
  /* line 108, ../scss/user-main-page.scss */
  .content .responsive-wrapper {
    width: 1500px; } }
@media (min-width: 1600px) {
  /* line 108, ../scss/user-main-page.scss */
  .content .responsive-wrapper {
    width: 1500px; } }
@media (min-width: 1700px) {
  /* line 108, ../scss/user-main-page.scss */
  .content .responsive-wrapper {
    width: 1500px; } }
@media (min-width: 1800px) {
  /* line 108, ../scss/user-main-page.scss */
  .content .responsive-wrapper {
    width: 1750px; } }
@media (min-width: 1900px) {
  /* line 108, ../scss/user-main-page.scss */
  .content .responsive-wrapper {
    width: 1750px; } }
/* line 117, ../scss/user-main-page.scss */
.content .responsive-wrapper:after {
  *zoom: 1;
  content: " ";
  clear: both;
  display: table; }

/* line 126, ../scss/user-main-page.scss */
header.app-header {
  height: 35px;
  background-color: #2980b9;
  color: #ffffff;
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 1000;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1); }
/* line 136, ../scss/user-main-page.scss */
header.app-header .back-button {
  height: 35px;
  width: 15px;
  float: left;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  padding: 0 8px;
  font-size: 12px;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }
/* line 148, ../scss/user-main-page.scss */
header.app-header .back-button:hover {
  background-color: #2472a4; }
/* line 153, ../scss/user-main-page.scss */
header.app-header .back-button i:before {
  margin-right: 6px; }
/* line 160, ../scss/user-main-page.scss */
header.app-header .logo img {
  margin-top: 9px;
  height: 15px; }
/* line 166, ../scss/user-main-page.scss */
header.app-header .user {
  position: absolute;
  right: 0;
  top: 0;
  height: 35px; }
/* line 172, ../scss/user-main-page.scss */
header.app-header .user img {
  width: 27px;
  margin: 3px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }

/* line 181, ../scss/user-main-page.scss */
header.content-header {
  text-align: left;
  margin: 36px 10px;
  font-weight: 100;
  *zoom: 1; }
/* line 187, ../scss/user-main-page.scss */
header.content-header:after {
  content: " ";
  clear: both;
  display: table; }
/* line 193, ../scss/user-main-page.scss */
header.content-header .photo {
  width: 50px;
  height: 50px;
  float: left;
  background-size: cover;
  background-position: center center;
  margin-right: 20px;
  border: solid 3px white;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); }
/* line 205, ../scss/user-main-page.scss */
header.content-header .heading {
  font-size: 22px;
  line-height: 50px;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
/* line 214, ../scss/user-main-page.scss */
header.content-header .statistics {
  float: right;
  width: 45px;
  height: 45px;
  cursor: pointer;
  line-height: 45px;
  text-align: right; }
/* line 223, ../scss/user-main-page.scss */
header.content-header .controls {
  float: right;
  margin-top: -3px; }
/* line 227, ../scss/user-main-page.scss */
header.content-header .controls .btn {
  width: 100px;
  padding: 4px 6px;
  color: #2980b9;
  text-align: center;
  font-size: 12px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
/* line 239, ../scss/user-main-page.scss */
header.content-header .controls .btn:hover, header.content-header .controls .btn.active {
  color: #ffffff;
  background-color: #2980b9; }
/* line 244, ../scss/user-main-page.scss */
header.content-header .controls .btn:last-child {
  margin-right: 0; }
