/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 12, ../scss/styles.scss */
::-webkit-scrollbar {
  display: none; }

/* line 16, ../scss/styles.scss */
body {
  background-color: #e6e6e8;
  font-family: Tahoma, Arial, sans-serif;
  color: #444444;
  width: 100%;
  height: 100%; }

/* line 24, ../scss/styles.scss */
html {
  width: 100%; }

/* line 28, ../scss/styles.scss */
.clearfix {
  clear: both; }

/* line 32, ../scss/styles.scss */
.header {
  width: 100%;
  height: 40px;
  background: #4a6c83;
  overflow: hidden;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #426e8a), color-stop(100%, #526a7c));
  background-image: -webkit-linear-gradient(top, #426e8a, #526a7c);
  background-image: -moz-linear-gradient(top, #426e8a, #526a7c);
  background-image: -o-linear-gradient(top, #426e8a, #526a7c);
  background-image: linear-gradient(top, #426e8a, #526a7c);
  -webkit-box-shadow: 0px 2px 1px #bdbdbe;
  -moz-box-shadow: 0px 2px 1px #bdbdbe;
  box-shadow: 0px 2px 1px #bdbdbe; }
/* line 40, ../scss/styles.scss */
.header .logo {
  float: left; }
/* line 44, ../scss/styles.scss */
.header .prev-page {
  float: left;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 10pt;
  font-weight: 300;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9; }
/* line 54, ../scss/styles.scss */
.header .prev-page img {
  float: left; }
/* line 57, ../scss/styles.scss */
.header .prev-page .prev-page-title {
  float: left;
  color: white;
  line-height: 40px;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 40px;
  overflow: hidden; }
/* line 67, ../scss/styles.scss */
.header .prev-page:hover {
  background-color: #436176;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3b637c), color-stop(100%, #4a6070));
  background-image: -webkit-linear-gradient(top, #3b637c, #4a6070);
  background-image: -moz-linear-gradient(top, #3b637c, #4a6070);
  background-image: -o-linear-gradient(top, #3b637c, #4a6070);
  background-image: linear-gradient(top, #3b637c, #4a6070);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }
/* line 74, ../scss/styles.scss */
.header .user-data {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-out;
  -moz-transition: opacity 0.1s ease-out;
  -o-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
  height: 40px;
  text-align: right;
  float: right;
  margin-right: 5px;
  cursor: default; }
/* line 83, ../scss/styles.scss */
.header .user-data .user-name {
  font-size: 9pt;
  color: white;
  margin-top: 7px;
  font-weight: 400; }
/* line 89, ../scss/styles.scss */
.header .user-data .user-albums-count {
  font-size: 8pt;
  color: #ccc;
  margin-top: 3px;
  font-weight: 300; }
/* line 97, ../scss/styles.scss */
.header .user-pic {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-out;
  -moz-transition: opacity 0.1s ease-out;
  -o-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
  margin: 5px;
  margin-top: 4px;
  float: right;
  display: block;
  border: solid 1px #999999;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  position: relative; }

/* line 111, ../scss/styles.scss */
.cell {
  height: 85px;
  float: left;
  overflow: hidden;
  position: relative; }
@media (min-width: 100px) {
  /* line 111, ../scss/styles.scss */
  .cell {
    width: 100%; } }
@media (min-width: 200px) {
  /* line 111, ../scss/styles.scss */
  .cell {
    width: 50%; } }
@media (min-width: 300px) {
  /* line 111, ../scss/styles.scss */
  .cell {
    width: 33.33333%; } }
@media (min-width: 400px) {
  /* line 111, ../scss/styles.scss */
  .cell {
    width: 25%; } }
@media (min-width: 500px) {
  /* line 111, ../scss/styles.scss */
  .cell {
    width: 20%; } }
@media (min-width: 600px) {
  /* line 111, ../scss/styles.scss */
  .cell {
    width: 16.66667%; } }
@media (min-width: 700px) {
  /* line 111, ../scss/styles.scss */
  .cell {
    width: 14.28571%; } }
@media (min-width: 800px) {
  /* line 111, ../scss/styles.scss */
  .cell {
    width: 12.5%; } }
@media (min-width: 900px) {
  /* line 111, ../scss/styles.scss */
  .cell {
    width: 11.11111%; } }
@media (min-width: 1000px) {
  /* line 111, ../scss/styles.scss */
  .cell {
    width: 10%; } }
@media (min-width: 1100px) {
  /* line 111, ../scss/styles.scss */
  .cell {
    width: 9.09091%; } }
@media (min-width: 1200px) {
  /* line 111, ../scss/styles.scss */
  .cell {
    width: 8.33333%; } }
@media (min-width: 1300px) {
  /* line 111, ../scss/styles.scss */
  .cell {
    width: 7.69231%; } }
@media (min-width: 1400px) {
  /* line 111, ../scss/styles.scss */
  .cell {
    width: 7.14286%; } }
@media (min-width: 1500px) {
  /* line 111, ../scss/styles.scss */
  .cell {
    width: 6.66667%; } }
@media (min-width: 1600px) {
  /* line 111, ../scss/styles.scss */
  .cell {
    width: 6.25%; } }
@media (min-width: 1700px) {
  /* line 111, ../scss/styles.scss */
  .cell {
    width: 5.88235%; } }
@media (min-width: 1800px) {
  /* line 111, ../scss/styles.scss */
  .cell {
    width: 5.55556%; } }
@media (min-width: 1900px) {
  /* line 111, ../scss/styles.scss */
  .cell {
    width: 5.26316%; } }
/* line 126, ../scss/styles.scss */
.cell .inner-cell {
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  position: absolute;
  border: solid 2px #ffffff;
  overflow: hidden;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 2px #bdbdbe;
  -moz-box-shadow: 0px 1px 2px #bdbdbe;
  box-shadow: 0px 1px 2px #bdbdbe; }
/* line 138, ../scss/styles.scss */
.cell .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 8pt;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Tahoma, sans-serif;
  color: #333333;
  background-color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  -webkit-transition: opacity 0.1s ease-out, 1s;
  -moz-transition: opacity 0.1s ease-out, 1s;
  -o-transition: opacity 0.1s ease-out, 1s;
  transition: opacity 0.1s ease-out, 1s; }
@media handheld {
  /* line 138, ../scss/styles.scss */
  .cell .caption {
    display: none;
    font-size: 14pt; } }
/* line 162, ../scss/styles.scss */
.cell .caption .likes, .cell .caption .likes-gold {
  float: left;
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
/* line 169, ../scss/styles.scss */
.cell .caption .likes:before, .cell .caption .likes-gold:before {
  content: url(../images/like.png);
  margin-right: 2px; }
/* line 175, ../scss/styles.scss */
.cell .caption .likes-gold:before {
  content: url(../images/like-gold.png);
  margin-right: 2px; }
/* line 180, ../scss/styles.scss */
.cell .caption .comments {
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
/* line 186, ../scss/styles.scss */
.cell .caption .comments:before {
  content: url(../images/comments.png);
  margin-right: 2px; }
/* line 192, ../scss/styles.scss */
.cell:hover .caption {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }
/* line 195, ../scss/styles.scss */
.cell img {
  min-height: 100%;
  min-width: 100%; }

/* line 208, ../scss/styles.scss */
#myAlbums:after, #muGroups:after, #myFriends:after, #myAlbums:before, #muGroups:before, #myFriends:before, .content:after, .content:before {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden; }

/* line 217, ../scss/styles.scss */
.content {
  padding: 10px;
  padding-top: 5px; }
/* line 221, ../scss/styles.scss */
.content .title {
  cursor: default;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 18pt;
  margin: 6px;
  line-height: 34px; }
/* line 229, ../scss/styles.scss */
.content .title .title-text {
  margin-left: 44px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 34px;
  float: left; }
/* line 237, ../scss/styles.scss */
.content .title .title-text .count {
  color: #777777;
  font-size: 10pt;
  line-height: 16px;
  vertical-align: text-top;
  margin-left: 4px; }
/* line 246, ../scss/styles.scss */
.content .title .options {
  float: right;
  font-size: 11pt;
  color: #666666;
  height: 34px; }
/* line 252, ../scss/styles.scss */
.content .title .options .filter, .content .title .options .statistics {
  cursor: pointer;
  width: 34px;
  height: 33px;
  text-align: center;
  float: right;
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0; }
/* line 262, ../scss/styles.scss */
.content .title .options .filter:hover, .content .title .options .statistics:hover {
  background-color: rgba(15, 15, 15, 0.7);
  color: #ffffff; }
/* line 267, ../scss/styles.scss */
.content .title .options .filter:hover > .dropdown-list, .content .title .options .statistics:hover > .dropdown-list {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1); }
/* line 273, ../scss/styles.scss */
.content .title .options .filter:before {
  font-family: 'FontAwesome';
  content: "\f0b0"; }
/* line 279, ../scss/styles.scss */
.content .title .options .statistics:before {
  font-family: 'FontAwesome';
  content: "\f080"; }
/* line 284, ../scss/styles.scss */
.content .title .options .calendar:before {
  content: "\f073"; }
/* line 287, ../scss/styles.scss */
.content .title .options .likes:before {
  content: "\f004"; }
/* line 290, ../scss/styles.scss */
.content .title .options .comments:before {
  content: "\f075"; }
/* line 293, ../scss/styles.scss */
.content .title .options .photos-count:before {
  content: "\f03e"; }
/* line 296, ../scss/styles.scss */
.content .title .options .golden:before {
  color: #ffba00; }
/* line 301, ../scss/styles.scss */
.content .thumb {
  display: block;
  float: left;
  border: solid 2px #ffffff;
  overflow: hidden;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 2px #bdbdbe;
  -moz-box-shadow: 0px 1px 2px #bdbdbe;
  box-shadow: 0px 1px 2px #bdbdbe; }
/* line 311, ../scss/styles.scss */
.content .thumb img {
  max-width: 100%;
  min-height: 100%; }

/* line 318, ../scss/styles.scss */
.dropdown-list {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 120;
  background-color: rgba(15, 15, 15, 0.7);
  color: #ffffff;
  min-width: 120px;
  -webkit-box-shadow: 0 0 3px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0 0 3px rgba(50, 50, 50, 0.5);
  box-shadow: 0 0 3px rgba(50, 50, 50, 0.5);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transform-origin: 80px 0px;
  -moz-transform-origin: 80px 0px;
  -ms-transform-origin: 80px 0px;
  -o-transform-origin: 80px 0px;
  transform-origin: 80px 0px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }
/* line 334, ../scss/styles.scss */
.dropdown-list ul {
  padding: 4px; }
/* line 337, ../scss/styles.scss */
.dropdown-list ul li {
  font-size: 13px;
  padding: 3px;
  text-align: left;
  height: 25px;
  line-height: 25px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }
/* line 348, ../scss/styles.scss */
.dropdown-list ul li span {
  color: #ffffff;
  margin-right: 6px;
  font-family: 'FontAwesome'; }
/* line 354, ../scss/styles.scss */
.dropdown-list ul li:hover {
  background-color: rgba(110, 110, 110, 0.5); }

/* line 361, ../scss/styles.scss */
.photo {
  background-color: #000000;
  color: #333;
  direction: ltr;
  height: 100% !important;
  left: 0px;
  min-height: 100%;
  min-width: 100%;
  outline-color: #333;
  outline-style: none;
  outline-width: 0px;
  position: fixed;
  right: 0px;
  table-layout: fixed;
  text-align: left;
  top: 0px;
  width: 100%;
  z-index: 400; }
/* line 380, ../scss/styles.scss */
.photo:after {
  content: " ";
  float: left;
  height: 1%;
  /*the fix*/
  width: 0; }
/* line 387, ../scss/styles.scss */
.photo .photo-header {
  height: 40px;
  z-index: 99;
  position: absolute;
  width: 100%; }
/* line 393, ../scss/styles.scss */
.photo .photo-header .logo {
  float: left; }
/* line 398, ../scss/styles.scss */
.photo .photo-header .close {
  float: right;
  height: 40px;
  line-height: 40px;
  width: 40px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -webkit-transition: opacity 0.1s ease-out, 1s;
  -moz-transition: opacity 0.1s ease-out, 1s;
  -o-transition: opacity 0.1s ease-out, 1s;
  transition: opacity 0.1s ease-out, 1s; }
/* line 411, ../scss/styles.scss */
.photo .photo-header .close:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }
/* line 417, ../scss/styles.scss */
.photo .image-wrapper {
  position: relative;
  height: 100%; }
/* line 422, ../scss/styles.scss */
.photo img {
  max-height: 100%;
  max-width: 100%;
  position: absolute; }
/* line 428, ../scss/styles.scss */
.photo .description {
  height: 40px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.7)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  background-image: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%); }
/* line 438, ../scss/styles.scss */
.photo .description .photo-likes, .photo .description .photo-comments {
  float: left;
  width: 60px;
  height: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 10pt;
  line-height: 40px;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }
/* line 450, ../scss/styles.scss */
.photo .description .photo-likes:before {
  font-family: 'FontAwesome';
  content: "\f004";
  margin-right: 5px; }
/* line 455, ../scss/styles.scss */
.photo .description .photo-comments:before {
  font-family: 'FontAwesome';
  content: "\f075";
  margin-right: 5px; }
/* line 461, ../scss/styles.scss */
.photo .description .rotate-left, .photo .description .rotate-right, .photo .description .make-cover {
  font-family: 'FontAwesome';
  float: right;
  width: 28px;
  height: 40px;
  font-size: 10pt;
  line-height: 40px;
  color: white;
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-transition: opacity 0.1s ease-out, 1s;
  -moz-transition: opacity 0.1s ease-out, 1s;
  -o-transition: opacity 0.1s ease-out, 1s;
  transition: opacity 0.1s ease-out, 1s; }
/* line 473, ../scss/styles.scss */
.photo .description .rotate-left:hover, .photo .description .rotate-right:hover, .photo .description .make-cover:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }
/* line 477, ../scss/styles.scss */
.photo .description .rotate-left:before {
  content: "\f0e2"; }
/* line 480, ../scss/styles.scss */
.photo .description .rotate-right:before {
  content: "\f01e"; }
/* line 483, ../scss/styles.scss */
.photo .description .make-cover:before {
  content: "\f03e"; }
/* line 488, ../scss/styles.scss */
.photo .left-arrow-wrapper, .photo .right-arrow-wrapper {
  cursor: pointer;
  position: absolute;
  left: 0;
  width: 100px;
  height: 100%;
  font-size: 22px;
  font-family: 'FontAwesome';
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-transition: opacity 0.1s ease-out, 1s;
  -moz-transition: opacity 0.1s ease-out, 1s;
  -o-transition: opacity 0.1s ease-out, 1s;
  transition: opacity 0.1s ease-out, 1s; }
/* line 499, ../scss/styles.scss */
.photo .left-arrow-wrapper:hover, .photo .right-arrow-wrapper:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }
/* line 503, ../scss/styles.scss */
.photo .right-arrow-wrapper {
  left: auto;
  right: 0; }
/* line 508, ../scss/styles.scss */
.photo .left-arrow {
  left: 25px;
  top: 45%;
  position: absolute;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }
/* line 515, ../scss/styles.scss */
.photo .left-arrow:before {
  font-family: 'FontAwesome';
  content: "\f053"; }
/* line 521, ../scss/styles.scss */
.photo .right-arrow {
  right: 25px;
  position: absolute;
  top: 45%;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }
/* line 528, ../scss/styles.scss */
.photo .right-arrow:before {
  font-family: 'FontAwesome';
  content: "\f054"; }
/* line 534, ../scss/styles.scss */
.photo .rotate90deg {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }
/* line 537, ../scss/styles.scss */
.photo .rotate180deg {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
/* line 540, ../scss/styles.scss */
.photo .rotate270deg {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg); }
/* line 543, ../scss/styles.scss */
.photo .rotate360deg {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg); }

/* line 554, ../scss/styles.scss */
.landing {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -100; }
/* line 566, ../scss/styles.scss */
.landing ::selection {
  background: #b4c3b8; }
/* line 570, ../scss/styles.scss */
.landing .hello {
  position: relative;
  width: 100%;
  height: 100px;
  min-height: 400px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }
/* line 577, ../scss/styles.scss */
.landing .hello .logo {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -90px;
  font-size: 75px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); }
@media (max-width: 500px) {
  /* line 577, ../scss/styles.scss */
  .landing .hello .logo {
    font-size: 40px; } }
/* line 591, ../scss/styles.scss */
.landing .hello .logo i {
  font-size: 60px; }
@media (max-width: 500px) {
  /* line 591, ../scss/styles.scss */
  .landing .hello .logo i {
    font-size: 34px; } }
/* line 598, ../scss/styles.scss */
.landing .hello .logo .moto {
  font-size: 22px;
  margin-top: 12px; }
/* line 602, ../scss/styles.scss */
.landing .hello .logo .moto i {
  font-size: 20px; }
@media (max-width: 500px) {
  /* line 602, ../scss/styles.scss */
  .landing .hello .logo .moto i {
    font-size: 14px; } }
@media (max-width: 500px) {
  /* line 598, ../scss/styles.scss */
  .landing .hello .logo .moto {
    font-size: 14px; } }
/* line 615, ../scss/styles.scss */
.landing .hello .login-pane {
  position: absolute;
  width: 100%;
  bottom: 100px;
  text-align: center; }
/* line 621, ../scss/styles.scss */
.landing .hello .login-pane .login-button {
  width: 150px;
  border: solid 1px #ffffff;
  background: rgba(255, 255, 255, 0.25);
  padding: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #ffffff;
  font-size: 22px;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }
/* line 636, ../scss/styles.scss */
.landing .hello .login-pane .login-button:hover {
  background: rgba(255, 255, 255, 0.4); }
/* line 639, ../scss/styles.scss */
.landing .hello .login-pane .login-button:active {
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2); }
/* line 646, ../scss/styles.scss */
.landing .text-block {
  position: relative;
  width: 100%;
  background: #ffffff;
  color: #333333;
  font-size: 18px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
@media (max-width: 500px) {
  /* line 646, ../scss/styles.scss */
  .landing .text-block {
    padding-top: 20px;
    padding-bottom: 20px; } }
/* line 662, ../scss/styles.scss */
.landing .text-block .text-header {
  font-size: 36px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px; }
@media (max-width: 500px) {
  /* line 662, ../scss/styles.scss */
  .landing .text-block .text-header {
    font-size: 26px; } }
/* line 672, ../scss/styles.scss */
.landing .text-block .text-header i {
  font-size: 28px; }
@media (max-width: 500px) {
  /* line 672, ../scss/styles.scss */
  .landing .text-block .text-header i {
    font-size: 22px; } }
/* line 680, ../scss/styles.scss */
.landing .text-block .text-description {
  font-size: 18px;
  line-height: 30px;
  margin-left: 40px;
  margin-right: 40px; }
@media (max-width: 500px) {
  /* line 680, ../scss/styles.scss */
  .landing .text-block .text-description {
    line-height: normal; } }
/* line 693, ../scss/styles.scss */
.landing .technologies {
  height: 500px; }
/* line 696, ../scss/styles.scss */
.landing .technologies .column {
  width: 33.33%;
  float: left;
  padding: 20px;
  box-sizing: border-box; }
@media (max-width: 500px) {
  /* line 696, ../scss/styles.scss */
  .landing .technologies .column {
    width: 100%;
    float: none; } }
/* line 710, ../scss/styles.scss */
.landing .technologies .html5 header, .landing .technologies .css3 header, .landing .technologies .vk header {
  color: #ffffff;
  font-size: 60px;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); }
/* line 719, ../scss/styles.scss */
.landing footer, .landing .footer {
  background: #f4f4f4;
  padding: 30px;
  text-align: center; }
/* line 727, ../scss/styles.scss */
.landing footer .share div, .landing footer .share a, .landing .footer .share div, .landing .footer .share a {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: solid 1px #666666;
  cursor: pointer;
  color: #666666;
  font-size: 24px;
  margin: 10px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: opacity 0.1s ease-out;
  -moz-transition: opacity 0.1s ease-out;
  -o-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out; }
/* line 741, ../scss/styles.scss */
.landing footer .share div:hover, .landing footer .share a:hover, .landing .footer .share div:hover, .landing .footer .share a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }
/* line 745, ../scss/styles.scss */
.landing footer .share div:first-child i, .landing footer .share a:first-child i, .landing .footer .share div:first-child i, .landing .footer .share a:first-child i {
  margin-top: 8px; }
/* line 749, ../scss/styles.scss */
.landing footer .share div i, .landing footer .share a i, .landing .footer .share div i, .landing .footer .share a i {
  margin-top: 9px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }
/* line 756, ../scss/styles.scss */
.landing footer .copyright, .landing .footer .copyright {
  font-size: 13px;
  color: #b3b3b3;
  margin-top: 20px; }
/* line 761, ../scss/styles.scss */
.landing footer .copyright i, .landing .footer .copyright i {
  font-size: 10px; }
