<div class="inner-cell">
    <a href="/albums-<%= id %>"><img src="<%= photo_100 %>" class="remote-image"></a>
    <div class="caption" title="<%= _.escape(name) %>"><%= _.escape(name) %></div>
</div>